apiVersion: batch/v1
kind: Job
metadata:
  name: ml-train-job
  labels:
    app: ml-workflow
spec:
  template:
    metadata:
      labels:
        app: ml-workflow
        workload-profile: "training"
      annotations:
        scheduler.policy/performance-weight: "0.5"
    spec:
      runtimeClassName: nvidia
      restartPolicy: Never
      containers:
      - name: train
        image: 192.168.188.23:5000/ml-workflow-gpu:v1
        command: ["python3", "train.py"]
        env:
        - name: EPOCHS
          value: "5"
        resources:
          limits:
            nvidia.com/gpu: 1
        volumeMounts:
        - name: data-storage
          mountPath: /data
      volumes:
      - name: data-storage
        persistentVolumeClaim:
          claimName: ml-workflow-pvc
  backoffLimit: 0
