# ml-workflow/kube/3-job-inference-gpu.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: ml-inference-gpu-job
  labels:
    app: ml-workflow
spec:
  template:
    metadata:
      labels:
        app: ml-workflow
        workload-profile: "inference"
      annotations:
        scheduler.policy/performance-weight: "0.9"
    spec:
      schedulerName: my-energy-scheduler
      runtimeClassName: nvidia
      restartPolicy: Never
      containers:
      - name: inference-gpu
        image: 192.168.188.23:5000/ml-workflow-gpu:v1
        command: ["python3", "inference.py"]
        resources:
          limits:
            nvidia.com/gpu: 1
        volumeMounts:
        - name: data-storage
          mountPath: /data
      volumes:
      - name: data-storage
        persistentVolumeClaim:
          claimName: ml-workflow-pvc
  backoffLimit: 4
