# k8s/2-job-train-cpu.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: ml-train-cpu-job
  labels:
    app: ml-workflow
spec:
  template:
    metadata:
      labels:
        app: ml-workflow
        workload-profile: "training"
      annotations:
        scheduler.policy/performance-weight: "0.1"
    spec:
      schedulerName: my-energy-scheduler
      restartPolicy: Never
      containers:
      - name: train-cpu
        image: 192.168.178.136:5000/ml-workflow-cpu-amd64:v7
        command: ["python3", "train.py"]
        volumeMounts:
        - name: data-storage
          mountPath: /data
      volumes:
      - name: data-storage
        persistentVolumeClaim:
          claimName: ml-workflow-pvc
  backoffLimit: 4
