# k8s/2-job-train-gpu.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: ml-train-gpu-job
  labels:
    app: ml-workflow
spec:
  template:
    metadata:
      labels:
        app: ml-workflow
        workload-profile: "training"
      annotations:
        scheduler.policy/performance-weight: "0.8"
    spec:
      schedulerName: my-energy-scheduler
      runtimeClassName: nvidia
      restartPolicy: Never
      containers:
      - name: train-gpu
        image: 192.168.178.136:5000/ml-workflow-gpu:v26
        command: ["python3", "train.py"]
        resources:
          limits:
            nvidia.com/gpu: 1
        volumeMounts:
        - name: data-storage
          mountPath: /data
      volumes:
      - name: data-storage
        persistentVolumeClaim:
          claimName: ml-workflow-pvc
  backoffLimit: 4
